html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End of Reset*/
/*Start Code*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

html {
    background-color: rgba(122, 191, 191, .5);
}
body { 
    background-color: #f2f2f2;
    max-width: 414px;
    margin: 0 auto;
    box-sizing: border-box;
}
header {
    grid-area: header;
    
    padding-top: 180px;
}
header img {
    width: 100%;
}
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-bottom: 80px;
    text-transform: uppercase;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
h4 {
    visibility: hidden;
}
nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
p, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
dt, dd {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}
#details h2 {
    text-align: center;
}
#details { 
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 414px;
    padding-top: 20px;
}
dl {
    display: flex;
}
.street {
    width: 100%;
}
.street img {
    margin-top: 10px;
    width: 100%;
}
main {
    margin-top: -10px;
}


#directions {
    display: flex;
    flex-direction: column;
    max-width: 414px;
    justify-content: center;
    margin: 10px 0 10px 20px;
}
#directions ol li {
    margin-bottom: 10px;
}
#directions h2 {
    display: flex;
    justify-content: center;
    max-width: 414px;
    padding-bottom: 20px;
}
menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1 10px 0 0;
    list-style: none;
}
menu li a:hover{
    background-color: #EB5428;
    color: #F2F2F2;
}
menu li svg:hover{
    background-color: transparent;
    stroke: #F2F2F2;
}

menu li a {
    color: #EB5428;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}
nav ul {
    margin-top: 30px;
}
nav img {
    max-width: 50%;
}
nav li {
    list-style: none;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 2px 2px;
    position: relative;
    user-select: none;
}
ul {
    overflow: hidden;
    max-height: 0;
}


nav ul li:first-child {
    flex: 1;
    background-color: #EB5428;
    position: absolute;
    top: -2px;
    padding-right: 10px;
    justify-content: center;
    margin-left: -80px;
}
nav ul li:last-child {
    flex: 1;
    position: absolute;
    right: 10px;
    top: 1px;
}
#hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hamburger-checkbox {
    position: absolute;
    top: 10px;
    left: 30px;
    opacity: 0;
    width: 40px;
    height: 40px;
}

#hamburger label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
nav {
    order: 1;
    position: relative;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
nav div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #0D0D0D;
    margin-bottom: 10px;
}
header {
    order: 2;
}
main {
    order: 3;
}
.dishes {
    order: 4;
    margin-bottom: 10px;
    margin-left: 5px;
}
#search {
    display: flex;
    position: relative;
    justify-content: center;
    top: 90px;
    height: 40px;
    margin-top: 90px;
}
.directions ol li{
    margin: 20px 10px;
    text-align: left;
}
.dishes a {
    text-decoration: none;
    color:#0D0D0D;
}
.side {
    margin-left: 10px;
    margin-top: 20px;
}
.side h3 {
    margin-top: 25px;
}
.side p {
    margin-top: 25px;
}
.sidedish {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.sidedish img {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-top: 20px;
}
.sidedish img {
    order: 1;
}
.sidedish h3 {
    order: 2;
}
.sidedish p {
    order: 3;
}
.star {
    order: 4;
    margin-top: 25px;
}
.star p {
    margin-top: -20px;
    font-weight: bold;
}
.star svg {
    margin-top: 1px;
    fill: #EB5428;
}
.side > .sidedish {
    display: flex;
    flex-direction: column;
    order: 2;
}
.sidedish img {
    width: 50%;
    height: 50%;
}
.dishes {
    background-color: #7abfbf;
}
#links ul {
    max-height: 100px;
    display: flex;
}
#links li a {
    text-decoration: none;
    color: #EB5428;
}
footer {
    order: 5;
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}
footer ul li {
    list-style: none;
}
footer img {
    display: block;
    width: 50%;
    align-items: left;
}
footer li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #EB5428;
    margin: 0;
    padding: 0;
}
footer > section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer section div {
    order: 2;
    color: #0D0D0D;
    font-weight: 700;
    margin-top: 15px;
}

@media screen and (min-width:768px) {
    body {
        max-width: 768px;
    }
    h2 {
        justify-content: center;
    }
    nav {
        display: flex;
    }
    nav label {
        display: none;
    }
    nav ul {
        flex: 1;
        display: flex;
        margin-top: 60px;
    }
    ul {
        overflow: visible;
        max-height: 100px;
    }
    nav ul li:first-child {
        order: 1;
        left: 80px;
    }
    nav ul li:last-child {
        order: 4;
        margin-bottom: 10px;
    }
    dl {
        justify-content: center;
    }
    .street {
        margin-top: 20px;
        display: block;
        padding: 10px 10px 10px 10px;
    }
    #ingredients {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    #ingredients ul {
        margin-top: 50px;
    }
    #ingredients ul li {
        line-height: 1em;
        justify-content: center;
    }
    #ingredients ol {
        margin-top: 50px;
        margin-left: -10px;
    }
    #ingredients ol li {
        line-height: 1em;
        margin-left: -10px;
    }
    .street h1 {
        margin-left: 20px;
        text-align: left;
        margin-top: -40px;
    }
    nav ul li img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: top;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    nav ul li a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: #EB5428;
        margin-left: 12px;
        font-size: 12px;
        font-weight: bold;
    }
    nav ul li:not(:first-child):not(:last-child) {
        display: flex;
        order: 3;
        margin-top: 10px;
        margin-right: 20px;
    }
    #search {
        margin-top: -80px;
        left: -80px;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .street menu {
        background-color: #7abfbf;
        margin-top: 20px;
        margin-bottom: -70px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .street menu li {
        margin-right: 80px;
        margin-left: 60px;
    }
    .dishes h2 {
        text-align: center;
        margin-top: 20px;
    }
    footer {
        display: flex;
        margin-top: 10px;
    }
    footer img {
        order: 1;
        margin-top: 40px;
        margin-left: -20px;
    }
    #links {
        order: 2;
    }
}
@media screen and (min-width:1280px) {
    body {
        max-width: 1280px;
        margin: 0 auto;
    }
    ul {
        overflow: visible;
        max-height: 20px;
    }
    nav ul {
        max-height: 20%;
    }    
    nav ul li:not(:first-child):not(:last-child) {
        margin-left: 100px;
        margin-right: -10px;
        margin-top: -75px;
        padding-left: -10px;
        padding-right: -50px;
    }
    nav ul li img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: top;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    #search {
        margin-left: -100px;
        order: 4;
        width: 100%;
    }
    #search input {
        width: 30%;
        margin-top: 110px;
    }
    #search a {
        margin-top: 110px;
    }
    nav ul li:first-child {
        margin-right: 15px;
    }
    nav ul li:last-child {
        margin-left: -20px;
    }
    .street h1 {
        font-size: 40px;
        text-align: center;
        margin-top: -20px;
    }
    .street menu {
        display: flex;
        flex-direction: column;
        align-items: right;
        padding-top: 12px;
        padding-left: 20px;
        padding-bottom: 50px;
        background-color: #f2f2f2;
        margin-right: 1120px;
        line-height: 1.25em;
        margin-top: 22px;
        border: 1px #EB5428;
    }
    .street menu li {
        padding-top: 40px;
    }
    .tacostyle {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .tacostyle img {
        width: 49%;
        margin-left: 88px;
        margin-top: -391.5px;
    }
    .street p {
        display: flex;
        margin-top: -390px;
        margin-left: -215px;
        margin-right: 260px;
        padding-right: 110px;
        line-height: 1.75em;
    }
    .street p + p {
        margin-left: 120px;
        margin-right: -370px;
        margin-top: -320px;
        padding-left: 300px;
    }
    #details {
        background-color: #0D0D0D;
    }
    #details h2 {
        margin-top: -10px;
        margin-bottom: 20px;
    }
    h2, dl {
        color: #7abfbf;
    }
    dl {
        display: inline-block;
        justify-content: center;
        text-align: center;
        margin-right: 60px;
        margin-left: 80px;
    }
    dd, dt {
        align-items: center;
    }
    #ingredients {
        margin-bottom: 20px;
    }
    #ingredients h2 {
        color: #0D0D0D;
    }
    #ingredients ul {
        margin-top: 50px;
    }
    #ingredients ul li {
        display: flex;

        margin-top: 15px;
    }
    #ingredients ol li {
        line-height: 28px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .box {
        display: grid;
        grid-template-columns: (1fr 1fr 1fr 1fr);
    }
    .sidedish {
        display: flex;
        flex-direction: column;
    }
    .sidedish a img {
        width: 80%;
        height: 80%;
    }
    .dishes {
        margin-top: 10px;
    }
    footer {
        display: flex;
    }
    footer img {
        width: 40%;
        margin-top: 30px;
        justify-content: left;
        order: 2;
    }
    #links {
        margin-left: 200px;
    }
    #links p {
        margin-left: -120px;
    }
}


